{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}箱箱共用配置管理平台{% endblock %}
{% block css %}
<!-- DataTables -->
<link href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet' %}">
<link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
{% endblock %}

{% block content %}
<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->
          <div class="box">
            <div class="box-header">
                 <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" onclick="usercontrol()"><a href="#"><i class="fa fa-plus"> <b>添加用户</b></i></a></button>
                  <button type="button" class="btn btn-default btn-sm"><a href="/index/"><i class="fa fa-reply"> <b>返回首页</b></i></a></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <form>
                {% csrf_token %}
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>用户列表</th>
                </tr>
                </thead>
                <tbody>
                <!--渲染出站点-->
                {% for i in user_list %}
                    <tr class="even gradeA">
                                        <td>{{ i.name }}</td>
                                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

{% block script%}
<!-- DataTables -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
{% endblock %}
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
function usercontrol(){
      if($("#view_username").text() != "admin"){
          alert("您无权限操作！")
      }else{
          window.location.href = "/users/adduser/"
      }
}

</script>
<script src="{% static 'js/users/manageuser.js' %}"></script>
{% endblock %}